.analysis-graph-distr-plane .block-filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.analysis-graph-distr-plane .block-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.analysis-graph-distr-plane .block-result .bloc-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.analysis-graph-distr-plane .block-result .bloc-img img {
    max-width: 512px;
}