html {
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(238, 238, 238);
}

.site-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #eee;
    text-align: center;
    margin: 0 0 2em 0;
}

h1.gost {
    font-family: Times New Roman, serif; /* шрифт по умолчанию */
    font-size: 24pt; /* размер шрифта */
    font-weight: bold; /* жирность шрифта */
    text-align: center; /* выравнивание по центру */
    margin-top: 1cm; /* отступ сверху */
    margin-bottom: 0.5cm; /* отступ снизу */
}

h2.gost {
    font-family: Times New Roman, serif; /* шрифт по умолчанию */
    font-size: 18pt; /* размер шрифта */
    font-weight: bold; /* жирность шрифта */
    text-align: left; /* выравнивание по левому краю */
    margin-top: 0.5cm; /* отступ сверху */
    margin-bottom: 0.5cm; /* отступ снизу */
    text-indent: 1.25cm; /* отступ первой строки абзаца */
}

p.gost {
    font-family: Times New Roman, serif; /* шрифт по умолчанию */
    font-size: 14pt; /* размер шрифта */
    line-height: 1.5; /* межстрочный интервал */
    text-align: justify; /* выравнивание по ширине */
    text-indent: 1.25cm; /* отступ первой строки абзаца */
    margin-top: 0; /* отступ сверху */
    margin-bottom: 0.5cm; /* отступ снизу */
}

span.gost {
    font-family: Times New Roman, serif; /* шрифт по умолчанию */
    font-size: 14pt; /* размер шрифта */
    line-height: 1.5; /* межстрочный интервал */
    text-align: justify; /* выравнивание по ширине */
    margin-top: 0; /* отступ сверху */
    margin-bottom: 0.5cm; /* отступ снизу */
    height: fit-content; /* высота по размеру содержимого */
}

span.bold {
    font-weight: 900;
}

ul.gost, ol.gost {
    font-family: Times New Roman, serif; /* шрифт по умолчанию */
    font-size: 14pt; /* размер шрифта */
    line-height: 1.5; /* межстрочный интервал */
    text-align: justify; /* выравнивание по ширине */
    margin-top: 0; /* отступ сверху */
    margin-bottom: 0.5cm; /* отступ снизу */
    padding-left: 0;
}

li.gost {
    list-style-type: none; /* без маркеров */
    text-indent: 1.25cm; /* отступ первой строки элемента списка */
}

ol.gost li.gost:before {
    content: counter(list-item) ". "; /* нумерация элементов упорядоченного списка */
}

ul.gost li.gost:before {
    padding-right: 0.5cm;
    content: "— "; /* маркер элементов неупорядоченного списка */
}

table {
    width: 100%; /* ширина таблицы */
    border-collapse: collapse; /* схлопывание границ */
    font-family: Times New Roman, serif; /* шрифт по умолчанию */
    font-size: 14pt; /* размер шрифта */
    margin-top: 1cm;
    margin-bottom: 1cm;
}

th, td {
    border: 1px solid black !important; /* граница ячеек */
    padding: 0.5cm; /* отступ внутри ячеек */
    text-align: center; /* выравнивание текста по центру */
}

th {
    font-weight: bold; /* жирность шрифта */
    vertical-align: middle; /* вертикальное выравнивание по середине */
}

caption {
    caption-side: bottom; /* расположение заголовка снизу */
    font-style: italic; /* курсивный шрифт */
    margin-top: 0.5cm; /* отступ сверху */
}
